In [1]:
# Input in Python => input() statement is used to accept values from user.

In [2]:
# string input 
name = input("Enter Name ::")
print("My Name is :",name)

Enter Name :: Alok

My Name is : Alok

In [3]:
# int input
age = int(input("Enter Age ::"))

Enter Age :: 21

In [4]:
# float input  
price = float(input("Enter the Price :"))

Enter the Price : 15.55

In [5]:
print("My Name is",name,"and I am ",age,"years old.")

My Name is Alok and I am  21 years old.

# Conditional Statements

In [21]:
Age = int(input("Enter the Age :"))
if (Age<=10):
    print("Child !!")
elif(Age<=18):
    print("Teenager !!")
elif Age <= 35:
    print("Young Adult !!")
elif Age <= 59:
    print("Adult !!")
else:
    print("Senior Citizen !!")

Enter the Age : 12

Teenager !!

In [17]:
light=input("Enter the color ::")
if(light == "red"):
    print("Stopp !!")
elif(light == "yellow"):
    print("Look !!")
elif(light == "green"):
    print("Goo !!")
else:
    print("Light is broken !!")

Enter the color :: red

Stopp !!

# Practice Questions

In [46]:
# Write a program to check if a number entered by user is odd or even. 
num = int(input("Enter the Number :"))
if (num%2==0):
    print("Even")
else:
    print("Odd")

Enter the Number : 5

Odd

In [55]:
# Write a program to find greatest of 3 numbers entered by user.
num1 = int(input("Enter the Number 1:"))
num2 = int(input("Enter the Number 2:"))
num3 = int(input("Enter the Number 3:"))
if(num1>num2 and num1>num3):
    print("Num 1 is greater")
elif(num2>num3):
    print("Num 2 is greater")
else:
    print("Num 3 greater")

Enter the Number 1: 23
Enter the Number 2: 34
Enter the Number 3: 23

Num 2 is greater

In [63]:
# Write a program to check if a number is multiple of 7 
x = int(input("Enter the Number ::"))

if (x%7==0):
    print("number is multiple of 7")
else:
    print("Not multiple of 7")

Enter the Number :: 33

Not multiple of 7

In [23]:
# Single Line Conditional Statements
# single line if => Ternary

In [27]:
# <var> = <val1> if <condition> else<val2>
food=input("Food ::")
eat = "Yess" if food=="cake" else "No"
eat

Food :: apple

'No'

In [ ]:
#  <str1> if <condition> else <str2>
food=input("Food ::")
print("Sweet") if food=="cake" or food == "Jalebi" else print("Not Sweet")

# Types of operators in Python:

In [32]:
# 1. Arithmetic Operators
# Used for basic math calculations.
a = 10
b = 3
print(a + b)   # Addition → 13
print(a - b)   # Subtraction → 7
print(a * b)   # Multiplication → 30
print(a / b)   # Division (float) → 3.333...
print(a // b)  # Floor Division → 3
print(a % b)   # Modulus (remainder) → 1
print(a ** b)  # Exponentiation → 1000

13
7
30
3.3333333333333335
3
1
1000

In [33]:
# 2. Relational (Comparison) Operators
# Used to compare values (results in True/False)
x, y = 5, 10
print(x == y)  # Equal → False
print(x != y)  # Not Equal → True
print(x > y)   # Greater → False
print(x < y)   # Less → True
print(x >= y)  # Greater or Equal → False
print(x <= y)  # Less or Equal → True

False
True
False
True
False
True

In [34]:
# 3. Logical Operators
# Used to combine conditions.
p, q = True, False
print(p and q)  # AND → False
print(p or q)   # OR → True
print(not p)    # NOT → False

False
True
False

In [36]:
# 4. Assignment Operators
# Used to assign values with shorthand.
a = 5
a += 2   # a = a + 2 → 7
a -= 2   # a = a - 2 → 5
a *= 3   # a = a * 3 → 15
a /= 3   # a = a / 3 → 5.0
a %= 2   # a = a % 2 → 1.0
a **= 2  # a = a ** 2 → 1.0

In [37]:
# 5.Membership Operators
# Check if a value exists in a sequence.
nums = [1, 2, 3, 4]
print(2 in nums)      # True
print(5 not in nums)  # True

True
True

In [38]:
# 6. Identity Operators
# Check if two variables point to the same object in memory.
x = [1, 2]
y = [1, 2]
print(x is y)      # False (different memory location)
print(x is not y)  # True

False
True

In [39]:
# Type Casting in Python

In [40]:
# # 1. Implicit Type Casting (Type Conversion)
# Done automatically by Python.
# When you mix two different types in an expression, 
# Python converts the smaller type → larger type to avoid data loss.

In [41]:
num_int = 10        # int
num_float = 3.5     # float

result = num_int + num_float  # int + float → float
print(result)       # 13.5
print(type(result)) # <class 'float'>

13.5
<class 'float'>

In [ ]:
# 2. Explicit Type Casting (Type Conversion)
#  Done manually by the programmer using functions like int(), float(), str(), etc.

In [42]:
# int to float
a = 5
print(float(a))   # 5.0

# float to int
b = 9.8
print(int(b))     # 9 (decimal part removed)

# int to string
c = 123
print(str(c))     # "123"

# string to int
d = "56"
print(int(d))     # 56

# string to float
e = "3.14"
print(float(e))   # 3.14

# list to tuple
lst = [1, 2, 3]
print(tuple(lst))  # (1, 2, 3)

# tuple to list
tup = (4, 5, 6)
print(list(tup))   # [4, 5, 6]

5.0
9
123
56
3.14
(1, 2, 3)
[4, 5, 6]