# Function in Python

# Function is Block of statements that perform a specific task.

def fun_name(para1,para2....): 
    return val
fun_name(arg1,arg2...)

In [2]:
def sum(a,b):
    return(a+b)

sum(2,2)

4

In [3]:
def cal_product(a,b):
    print(a*b)

cal_product(2,3)

6

In [5]:
def cal_product(a,b):
    return(a*b)

cal_product(2,3)

6

In [7]:
# Default parameter
def cal_product(a=2,b=4):
    print(a*b)

cal_product()

8

In [12]:
# Write a function  to print the lenght of a list. 
nums= [1,4,6,7,89,5,7]
name=["abc","xyz","pqr"]
def printlen(num):
    print(len(num))
printlen(nums)
printlen(name)

7
3

In [13]:
# Write a function to print elements of  list in a sinlge line?
nums= [1,4,6,7,89,5,7]
def singleline(num):
    for i in num: 
        print(i,end=" ")

singleline(nums)

1 4 6 7 89 5 7

In [23]:
# Write a function to find factorial of number.
n=int(input("Enter the Number::"))
def fact(a):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)
fact(n)

Enter the Number:: 6

720

In [27]:
# USD to INR converter
def converter(usd_val): 
    inr_val = usd_val*88
    print(usd_val ,"USD =",inr_val ,"INR")

converter(5)

5 USD = 440 INR

In [28]:
def oddevne(n):
    for i in range(n):
        if (i%2==0):
            print("Even")
        else:
            print("Odd")

oddevne(5)

Even
Odd
Even
Odd
Even

In [31]:
def oddevne(n):
        if (n%2==0):
            print("Even")
        else:
            print("Odd")

oddevne(8)

Even

In [32]:
# Recursion =when a function calls itself repeatedly.

In [41]:
def show(n):
    if(n==0): 
        return 
    print(n)
    show(n-1)

show(4)

4
3
2
1

In [44]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [52]:
# Q. Write a recursive function to calculate the sum of first n natural number.
def sum_natural(n):
    if (n==0):
        return 0
    else:
        return n+sum(n-1)

sum_natural(5)

15

In [58]:
# Write arecusive function to print all elements in a list. 
# hinnt: use list and index as parameter

def print_list(list,idx):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list,idx+1)
print_list([1,2,3,4,5,7],0)

1
2
3
4
5
7