# List & Tuple

# List In Python
A list is an ordered, mutable collection of items.
Can contain elements of different data types (int, str, float, etc.).
Defined using square brackets [ ].

In [1]:
# Examples
numbers = [10, 20, 30, 40]
marks = [94.4,87.5,95.2,66.8,89.25]
fruits = ["apple", "banana", "mango"]
mixed = [1, "hello", 3.14, True]
empty_list = []

In [2]:
numbers

[10, 20, 30, 40]

In [3]:
numbers[0]

10

In [4]:
type(numbers)

list

In [5]:
type(marks)

list

In [6]:
fruits = ["apple", "banana", "mango"]

print(fruits[0])   # apple  (first element)
print(fruits[-1])  # mango  (last element)
print(fruits[0:2]) # ['apple', 'banana']  (slicing)

apple
mango
['apple', 'banana']

In [7]:
# Modifying Lists

In [8]:
student=["alok",80,20,"Yeola"]

In [9]:
student

['alok', 80, 20, 'Yeola']

In [10]:
student[2]=40

In [11]:
student

['alok', 80, 40, 'Yeola']

In [12]:
numbers = [10, 20, 30]
numbers[1] = 25
print(numbers)   # [10, 25, 30]

[10, 25, 30]

In [13]:
numbers.append(40)  # add at end
print(numbers)      # [10, 25, 30, 40]

[10, 25, 30, 40]

In [14]:
numbers.insert(1, 15)  # insert at index 1
print(numbers)

[10, 15, 25, 30, 40]

In [15]:
numbers.remove(25)      # remove element
print(numbers)          # [10, 15, 30, 40]

[10, 15, 30, 40]

In [16]:
numbers.pop()           # remove last element
print(numbers)          # [10, 15, 30]

[10, 15, 30]

In [17]:
numbers.pop(1)           # remove pos element
print(numbers)          # [10, 15, 30]

[10, 30]

In [18]:

numbers.append(40) 
numbers.append(50)

In [19]:
numbers

[10, 30, 40, 50]

What is List Indexing?

Indexing lets you access individual elements of a list using their position.
Forward indexing: starts from 0 (first element)
Backward indexing: starts from -1 (last element)

In [20]:
fruits = ["apple", "banana", "mango", "orange"]
print(fruits[0])  # apple
print(fruits[1])  # banana
print(fruits[3])  # orange

apple
banana
orange

In [21]:
print(fruits[-1])  # orange (last element)
print(fruits[-2])  # mango
print(fruits[-4])  # apple (first element)

orange
mango
apple

In [22]:
# Indexing in Nested Lists

In [23]:
numbers = [[1,2,3], [4,5,6], [7,8,9]]

print(numbers[0])    # [1,2,3] → first sub-list
print(numbers[1][2]) # 6 → 3rd element of 2nd sub-list
print(numbers[-1][-1]) # 9 → last element of last sub-list

[1, 2, 3]
6
9

In [24]:
# Slicing

In [25]:
numbers = [10, 20, 30, 40, 50, 60]

print(numbers[1:4])    # [20, 30, 40] → from index 1 to 3
print(numbers[:3])     # [10, 20, 30] → start to index 2
print(numbers[3:])     # [40, 50, 60] → index 3 to end
print(numbers[:])      # [10, 20, 30, 40, 50, 60] → whole list

[20, 30, 40]
[10, 20, 30]
[40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [26]:
print(numbers[-4:-1])  # [30, 40, 50] → indexes -4 to -2
print(numbers[-3:])    # [40, 50, 60] → last 3 elements

[30, 40, 50]
[40, 50, 60]

In [27]:
print(numbers[::2])   # [10, 30, 50] → every 2nd element
print(numbers[1::2])  # [20, 40, 60] → every 2nd element starting from index 1
print(numbers[::-1])  # [60, 50, 40, 30, 20, 10] → reverse the list

[10, 30, 50]
[20, 40, 60]
[60, 50, 40, 30, 20, 10]

In [30]:
fruits = ["apple", "banana"]
more_fruits = ["mango", "orange"]

fruits.extend(more_fruits)
print(fruits)  
# ['apple', 'banana', 'mango', 'orange']

['apple', 'banana', 'mango', 'orange']

In [31]:
letters = ["A", "B"]
letters.extend("CD")
print(letters)  # ['A', 'B', 'C', 'D']

['A', 'B', 'C', 'D']

# Tuple in Python

In [32]:
#Tuple = A built-in data types that lets us create immutable sequence of values.
# A tuple is an ordered, immutable collection of items.

In [33]:
t1 = (10, 20, 30)
t2 = ("apple", "banana", "mango")
t3 = (1, "hello", 3.14, True)
empty = ()
single = (5,)   # note the comma! without it, it’s just int

In [34]:
tup=(2,1,3,1)
tup[1]

1

In [35]:
tup[2]

3

In [36]:
print(type(tup))

<class 'tuple'>

In [41]:
#Slicing

In [38]:
print(tup[0:3])

(2, 1, 3)

In [39]:
print(tup[0:])

(2, 1, 3, 1)

In [40]:
print(tup[-3:])

(1, 3, 1)

In [48]:
# Tuple Operations

In [49]:
a = (1, 2, 3)
b = (4, 5, 6)

print(a + b)   # concatenation → (1,2,3,4,5,6)
print(a * 2)   # repetition → (1,2,3,1,2,3)
print(2 in a)  # True
print(len(a))  # 3

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
True
3

In [50]:
nums = (5, 2, 8, 2, 5)

print(nums.count(5))   # 2 (occurrences of 5)
print(nums.index(8))   # 2 (first index of 8)

2
2

Q. Write a Python program that accepts names of three movies from 
the user and stores them in a list.

In [53]:
m1=input("Enter movie")
m2=input("Enter movie")
m3=input("Enter movie")
list=[]
list.append(m1)
list.append(m2)
list.append(m3)
list

Enter movie Inception
Enter movie Kimi no Na wa
Enter movie 3 Idiots

['Inception', 'Kimi no Na wa', '3 Idiots']

Q. Write a Python program to check if alist contains a palindrome of elements
(use copy() method)

In [65]:
# Take a list
my_list = [1, 2, 3, 2, 1]

# Create a copy of the list
list_copy = my_list.copy()

# Reverse the copy
list_copy.reverse()

# Compare
if my_list == list_copy:
    print("Palindrome List !!")
else:
    print("Not a Palindrome List !!")

Palindrome List !!