# Loops in Python
A loop is a way to repeat a block of code multiple times until a condition is 
met or over a sequence.

Python has two main types of loops:
1. for loop – When you know how many times to repeat
2. while loop – When you don’t know how many times

# While Loop : 
while condition: 
    #some work

In [2]:
count = 1
while count<=5: 
    print("Hello")
    count += 1

print(count)

Hello
Hello
Hello
Hello
Hello
6

In [3]:
num = 1

while num <= 3:
    print(num)
    num += 1

1
2
3

In [4]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [5]:
i=1
while i<=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
i=100
while i>=1: 
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [2]:
n=int(input("Enter  the Number ::"))
i=1
while(i<=10):
    print(n ,"*",i,"=",i*n)
    i+=1

Enter  the Number :: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
list = [1,4,9,16,25,36,49,64,81,100]
# for i in list:
#     print(i)
i=0
while i<len(list):
    print(list[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

In [4]:
print(len(list))

10

In [6]:
nums=[1,5,34,65,7,8,99,9]
x=65
i=0
while i<len(nums):
    if (nums[i] == x):
        print("FOUND !! at index ",i)
        break
    else:
        print("Finding....!!")
    i+=1

Finding....!!
Finding....!!
Finding....!!
FOUND !! at index  3

In [ ]:
##break and continue inpyton
# break and continue are used inside loops (for / while) to 
# control how the loop runs.

In [2]:
i=0
while i<=10: 
    print(i)
    if (i==3):
        break
    i+=1

0
1
2
3

In [1]:
for i in range(1, 10):
    if i == 5:
        break   # loop will stop when i == 5
    print(i)

1
2
3
4

In [3]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [9]:
list2= [1,2,4,5,6,-9,-40,12,89,-5]
for i in list2:
    if (i<0):
        continue
    if (i>10):
        break
    print("Accepted : ",i)

Accepted :  1
Accepted :  2
Accepted :  4
Accepted :  5
Accepted :  6

In [11]:
list2= [1,2,4,5,6,-9,-40,12,89,-5]
for i in list2:
    if (i<0):
        continue
    
    print("positive: ",i)

positive:  1
positive:  2
positive:  4
positive:  5
positive:  6
positive:  12
positive:  89

In [1]:
i = 0
while i <= 5: 
    if i == 3:
        i += 1   # increment before skipping
        continue
    print(i)
    i += 1

0
1
2
4
5

In [2]:
i = 0
while i <= 5: 
    if i == 3:
        i += 1   # increment before skipping
        continue
    print(i)
    i += 1

0
1
2
4
5

In [3]:
# For Loop

In [4]:
nums = [1,2,3,4,5]
for val in nums:
    print(val)

1
2
3
4
5

In [5]:
names = ["Ashwini","Rani","Radha"]
for name in names:
    print(name)

Ashwini
Rani
Radha

In [6]:
str="Ashwini"
for i in str:
    print(i)

A
s
h
w
i
n
i

In [17]:
# range()
# range(start,stop,step)

In [9]:
seq =range(5)

In [13]:
seq[0]

0

In [14]:
seq[1]

1

In [15]:
seq[2]

2

In [16]:
for i  in seq:
    print(i)

0
1
2
3
4

In [18]:
for i in range(4): 
    print(i)

0
1
2
3

In [23]:
# Even number
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [25]:
# Odd number
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [28]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
# printing table of n
n=int(input("Enter the Number ::"))
for i  in range(1,11):
    print(n*i)

Enter the Number :: 5

5
10
15
20
25
30
35
40
45
50

In [31]:
# pass Statement
# pass is null statement that does nothing . 
# it is used as a placeholder for future code.

In [33]:
for i in range(5):
    pass
print("Hello")

Hello

In [35]:
# Write a program to find the sum of first n natural numbers
n=5
sum=0
for i in range(1,n+1):
    sum+=i

print("Sum is ",sum)

Sum is  15

In [41]:
# Find factorial
n=5
fact = 1
for i in range(1,n+1):
    fact*=i

print("Factorial is ",fact)

Factorial is  120