# What is Python?

Python is a high-level, interpreted, object-oriented programming language.
It‚Äôs super popular because it‚Äôs easy to read, write, and learn.
Created by Guido van Rossum in 1991
Python is implicit lang => no need to declare a data types

‚ö° Key Features of Python

Simple & Readable ‚Üí Looks almost like English.

Interpreted ‚Üí Runs line by line, no need to compile.

Dynamically Typed ‚Üí No need to declare variable type (x = 10 works directly).

Object-Oriented ‚Üí Supports classes and objects.

Huge Libraries ‚Üí For AI, Data Science, Web Dev, etc.

Cross-Platform ‚Üí Runs on Windows, Mac, Linux, etc.

üõ†Ô∏è Where Python is Used

Web Development ‚Üí Django, Flask

Data Science & AI ‚Üí NumPy, Pandas, TensorFlow

Automation & Scripting ‚Üí Automating boring tasks

Game Development ‚Üí Pygame

IoT & Networking ‚Üí MicroPython

In [1]:
print("Hello World !!")

Hello World !!

In [5]:
# Variables = A name given to the memory location in program.

In [6]:
name="Ashwini"
print(name)

Ashwini

In [7]:
age=21

In [8]:
age

21

In [18]:
price=15.55
price

15.55

In [9]:
salary=50000

In [10]:
salary

50000

In [12]:
print("My Name is",name)

My Name is Ashwini

In [13]:
print("My age is",age)

My age is 21

In [21]:
# type =>> Built-in function that returns the data type of the value or variable passed to it.
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [24]:
# Data Types

1.Integer = Whole numbers, positive or negative, without decimals
2.String = Sequence of characters enclosed in quotes (' ' or " ").
3.Float = Numbers that have a decimal point
4.Boolean =  Represents True or False value
5.None = Special data type in Python that represents nothing / absence of value

# What are Keywords?
Keywords are reserved words in Python.
They have special meaning and can‚Äôt be used as variable names, function names, or identifiers
Ex. => def, if, else, return, True are keywords.

In [26]:
# print sum 
a=2
b=5
sum=a+b
print(sum)

7

In [32]:
# Expression Execution

In [33]:
print(2*name)

AshwiniAshwini

In [34]:
print(2*name*2)

AshwiniAshwiniAshwiniAshwini

In [35]:
A="2"
txt="Hello"
print(A+txt)

2Hello

In [36]:
A="2"
txt="Hello"
print((A+txt)*3)

2Hello2Hello2Hello

In [37]:
c=1.5
d=3
print(c//d)

0.0

In [38]:
c=4
d=3
print(c//d)

1

In [40]:
# Remainder is negative when denominator is negative
c=4
d=-3
print(c//d)

-2

# Comments in Python 
#single line comments

"""
This is
a multi-line
comments
"""